body{
    color: rgb(204, 204, 204);
    background-color: rgb(16, 16, 16);
    margin: 0%;
}

#fejlec{
    background-image: url(kepek/pizza.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 115%;
    width: 100%;
    height: 550px;
    
}

#fejlec_cim{
    font-size: xx-large;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-left: 40px;
    color: white;
}

#felso_menu{
    float: right;
    padding-right: 50px;
}

.header_a:hover{
    color: rgb(255, 255, 255);
}

img{
    height: 200px;
    width: 300px;
}

a{
    color: #ccc;
    text-decoration: none;
}

p{
    color: #ccc;
}

#piadina{
    background-color: rgb(51, 51, 51);
}

#pp{
    color: white;
    margin-bottom: 0px;
    text-align: right;
}

#pp_table{
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    
}

.pp_p{
    font-size: larger;
    padding-left: 40px;
}

#pp_h_td{
    vertical-align: text-top;
}

#menu{
    text-align: center;
    color: white;
    margin-bottom: 0%;
}

#ajanl{
    text-align: center;
    margin-top: 10px;
    font-size: large;
}

#menuText{
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

#menu_opc{

}

#menu_t{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.menu_td{
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    border: 2px solid #ccc;
}
#menu_td:hover{
    border: 2px solid white;
}

#menu_a{

}